@model List<EFDBFirstProject.Models.Product>
@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Show Products By Category</h2>

<table class="table">
    <tr>
        <th>ProductID</th>
        <th>ProductName</th>
        <th>UnitPrice</th>
        <th>QuantityPerUnit</th>
        <th>CategoryID</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.UnitPrice</td>
            <td>@item.QuantityPerUnit</td>
            <td>@item.CategoryID</td>
        </tr>
    }
</table>

